@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import "react-slideshow-image/dist/styles.css";
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	position: relative;
  background-color: rgb(228, 248, 246);
}
.header {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.container {
  /* max-width: 100%; */
  /* margin: 30px auto; */
  /* margin: auto; */
  overflow: auto;
  /* border: 1px ;
  margin-bottom: 100px; */
  /* padding: 0px 30px 30px 30px; */
  /* border-radius: 15px; */
  
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: right;
  display: block;
  border-radius: 5px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}
.img{
  width: 100%;
  height: auto;
  border-radius: 5%;
}
.featured {
  width: 75%;
  white-space: nowrap;
  margin:auto;
  overflow: auto;
}
.item{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

  width: 15%;
  border-radius: 5%;
  cursor: pointer;
  
}
.item:hover{
  box-shadow: -5px -5px 5px rgba(94, 88, 88, 0.863);
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin:auto;
}

.container-grid .item {
  height: auto;
  width: auto;
  cursor: pointer;
  margin-bottom: 10px;

}

.footer{
  position: relative;
  padding-top: 25px;
  width: 100%;
  height: 80px;
  margin-top: 50px;
  background-color: black;
  color: aliceblue;
  text-align: center;
}
