@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import "react-slideshow-image/dist/styles.css";
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	position: relative;
  background-color: rgb(228, 248, 246);
}
.header {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.container {
  /* max-width: 100%; */
  /* margin: 30px auto; */
  /* margin: auto; */
  overflow: auto;
  /* border: 1px ;
  margin-bottom: 100px; */
  /* padding: 0px 30px 30px 30px; */
  /* border-radius: 15px; */
  
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: right;
  display: block;
  border-radius: 5px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}
.img{
  width: 100%;
  height: auto;
  border-radius: 5%;
}
.featured {
  width: 75%;
  white-space: nowrap;
  margin:auto;
  overflow: auto;
}
.item{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap:break-word;
  text-align: center;
  width: 15%;
  border-radius: 5%;
  cursor: pointer;
}
.item:hover{
  box-shadow: -5px -5px 5px rgba(94, 88, 88, 0.863);
  /* box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin:auto;
}

.container-grid .item {
  height: auto;
  width: auto;
  cursor: pointer;
  margin-bottom: 30px;
  font-weight: bold;
}

.container-grid .item:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal {
  width: 50%;
  overflow: auto;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  position: fixed; 
  border-radius: 15px;
  background-color:rgb(3, 209, 192);
}
.modal::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: auto;
  scrollbar-width: none;
}
.details{
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.details .content .content-text{
  width: 75%;
  margin: auto;
  font-size: larger;
  font-weight: bold;
}
.content{
  margin-bottom: 20px;
}
.responsive-iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.price {
  width: 30%;
  padding: 2%;
  border-radius: 5px;
  background-color: lightsteelblue;
  cursor: pointer;
  text-align: center;
}
.price:hover {
  background-color: white;
  
}
.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  margin-left: 0%;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
  border-style: hidden;
}
input:focus {
  outline: none;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-block {
  margin: auto;
  display: block;
  width: 50%;
}
form{
  margin-bottom:30px;
  width:75%;
  margin:auto
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-bottom: 20px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.footer{
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-color: black;
  color: aliceblue;
}
.fa:hover {
  opacity: 0.7;
}
